.right-image {
    max-width: 60%;
}

.left-icon {
    max-width: 35px;
}

    .left-icon img {
        margin-bottom: 10px;
    }

@media only screen and (max-width:450px) {
    .comment-panel {
        padding: 0px !important;
    }

    .comment {
        border-radius: 0px !important;
        margin-bottom: 0px !important;
        border: none !important;
    }

    .more {
        line-height: 18px !important;
    }

        .more a, .more span {
            font-family: 'svn-gilroy-bold',sans-serif !important;
        }

    .more-links {
        padding-top: 15px;
    }

        .more-links .container .news-link {
            padding: 0px !important;
        }

            .more-links .container .news-link a {
                font-family: 'svn-gilroy-bold',sans-serif;
            }

            .more-links .container .news-link .text-left:not(:first-child) .right-arrow {
                display: none !important;
            }

            .more-links .container .news-link .text-left:not(:first-child) a {
                font-family: 'svn-gilroy-regular',sans-serif;
                color: #686868 !important;
                font-size: 12px;
            }

            .more-links .container .news-link .text-left:not(:first-child) span {
                color: #686868 !important;
                font-size: 10px !important;
                padding-left: 2px;
            }

            .more-links .container .news-link .text-left:not(:first-child) {
                display: flex;
            }

                .more-links .container .news-link .text-left:not(:first-child):before {
                    content: '.';
                    color: #686868;
                    font-size: 20px;
                    display: flex;
                    width: 10px;
                    height: 10px;
                    padding: 2px;
                    position: relative;
                    font-weight: bold;
                    top: -6px;
                }

    .author span {
        color: #686868 !important;
    }

    .share-bot {
        display: block !important;
        padding-top: 15px !important;
    }

        .share-bot .col-12 .row {
            height: 1px;
            background: #ccc;
        }

    .detail-text {
        color: #959492 !important;
        font-size: 14px !important;
    }

    .left-icon {
        display: none;
    }

    .share-icon {
        display: flex !important;
        justify-content: flex-end;
        padding-right: 15px;
    }

        .share-icon img {
            max-width: 35px;
            padding-left: 5px;
        }

    .bread-left {
        display: none !important;
    }

    .bread-right a {
        color: #005993;
        font-family: 'svn-gilroy-bold',sans-serif;
        font-size: 14px;
    }

    .top-news-detail {
        font-size: 14px !important;
        color: #959492;
    }

    .content-detail .col-12 {
        padding-bottom: 15px;
        text-align: justify;
    }

    .post-image {
        padding: 0 !important;
    }

        .post-image .col-12 {
            padding: 0 !important;
        }

    .search-bar-bottom {
        padding: 0px 15px 15px 15px !important;
    }

    .title-news {
        font-size: 16px !important;
        line-height: 12px;
        color: #005993;
    }
}

@media only screen and (max-width:767px) {
    .content-detail {
        padding-left: 0;
    }

    .right-image {
        max-width: 100% !important;
    }
}

@media only screen and (max-width:991px) {
}

@media only screen and (min-width:768px ) {
    .content-detail {
        padding-left: 90px;
        padding-right: 15px;
    }

        .content-detail .col-12 {
            margin-bottom: 15px;
            text-align: justify;
        }
}

.content-detail .col-12 {
    text-align: justify;
}

.share-icon {
    display: none;
}

.share-bot {
    display: none;
}

.comment {
    border: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 15px;
    background: #fff;
}

.login {
    padding-right: 13px;
}

.top-regis {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #eee;
}

.login:after {
    content: "|";
    color: #005993;
    font-size: 11px;
    position: absolute;
    padding-left: 5px;
    margin-right: 5px;
}

.question {
    padding-left: 5px;
}

.btn-send {
    width: 100px;
    color: #fff !important;
    background: #7ed3f7;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-transform: uppercase !important;
    font-family: 'svn-gilroy-medium',sans-serif;
    font-size: 12px;
    padding: 6px;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 5px;
}