@media only screen and (max-width: 450px) {
}

@media only screen and (min-width: 768px) and (max-width:871px) {
    .head-option {
    }

    .head-item .head-detail {
        /*height: 50px;*/
    }
}

@media only screen and (min-width: 768px) and (max-width:1024px) {
    .detail-account ul {
        padding-left: 30px !important;
    }
}

@media only screen and (max-width: 767px) {
    .form-note {
        height: 80px;
        margin-top: 50px;
    }

    .detail-account {
        padding-right: 15px !important;
    }

    .suggest {
        padding-left: 15px !important;
    }

    .head-item:not(:first-child) {
        margin-top: 18px;
    }
}

@media only screen and (max-width: 991px) {
    .body-content {
        padding-left: 0px;
    }

        .body-content .row .col-12 {
            padding: 0;
        }

    .right-icon {
        padding: 0px;
    }

    .care-about .col-12 {
        padding-left: 0px;
    }

    .head-amount .pl-60px {
        padding-left: 15px;
    }
}

@media only screen and (min-width: 992px) {
}

.icon-tk {
    max-height: 55px;
}

.icon-text {
    color: #005993;
    text-transform: uppercase;
    width: 200px;
    left: 0;
    text-align: left;
}

.left-icon {
}

.detail-account {
    line-height: 20px;
}

    .detail-account ul {
        padding-left: 15px;
    }

        .detail-account ul li {
            list-style: outside;
        }

.left-icon-first {
    position: absolute;
    top: -25px;
}

body {
    background: #f0f8fb;
}

.cost {
    padding-right: 6px;
}

.pt-50px {
    padding-top: 50px;
}

.pt-100px {
    padding-top: 100px;
}

.head-item {
    text-align: center;
}

.brd-1 {
    border: 1px solid #005993;
}

.pl-60px {
    padding-left: 60px;
}


.down-arrow {
    position: absolute;
    top: 100%;
    z-index: 9;
    max-width: 20px;
    left: 48%;
}

.head-option {
    color: #005993;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    cursor: pointer;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

.long-head-text {
    width: 200px;
    text-align: left;
    padding-bottom: 5px;
}

.head-detail {
    padding: 0;
}
