@media only screen and (min-width: 992px) {
    .most-popular .single-product {
        width: auto;
        margin: 0px 15px;
    }
}

@media only screen and (max-width: 450px) {

    .product-content span {
        font-size: 16px !important;
    }

    .most-popular .single-product {
        margin: 30px 0 0 0 !important;
    }

    .pt-sm-0px {
        padding-top: 0px !important;
    }

    .care {
        display: none !important;
    }

    .product-slide {
        max-height: 100% !important;
    }

    .solution-slider .owl-controls .owl-dots {
        bottom: -120px !important;
    }

    .ti-angle-right, .ti-angle-left {
        position: absolute;
        top: 100%;
        right: 0;
    }

    .single-product:hover .product-content {
        padding: 0px !important;
    }

    .service-more span {
        line-height: 20px !important;
        font-size: 14px !important;
        padding: 0px 10px !important;
    }
}

.service-slider .owl-stage .owl-item {
    max-width: 100%;
}

    .service-slider .owl-stage .owl-item img {
        max-width: 100%;
    }

.service-slider .owl-nav {
    display: block;
}

.most-popular .owl-nav {
    margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -25px;
}

.single-product .product-img {
    max-width: none;
}

.product-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.bg-content {
    position: absolute;
    background: #005993;
    opacity: 0.6;
    height: 90px;
    width: 100%;
    bottom: 0;
}

.single-product {
    position: relative;
}

.product-content a {
    color: #fff;
    font-weight: 100;
    text-transform: uppercase;
    font-family: 'svn-gilroy-regular',sans-serif;
}

.owl-theme .owl-nav [class*='owl-'] {
    background: none;
}

.most-popular .owl-carousel .owl-nav div:hover {
    color: #005993;
    background: none;
}

.ti-angle-right, .ti-angle-left {
    font-size: 30px;
    font-weight: bold;
    color: #005993;
}

.solution-slider .owl-controls .owl-dots {
    bottom: -40px;
}

.care {
    margin-top: 100px;
}

.blue-top {
    color: #005993 !important;
}

.service-more {
    padding-top: 15px;
}

    .service-more span {
        font-family: 'svn-gilroy-regular',sans-serif !important;
        text-transform: none;
        width: 100%;
        display: block;
        text-align: left;
        font-size: 14px;
    }

.product-content .row a .row:last-child .col-12 {
    bottom: 15px;
}

.product-content .row a .row:not(:first-child) {
    display: none;
}

.single-product:hover .bg-content {
    height: 100%;
    cursor: pointer;
}

.single-product:hover .product-content {
    height: 100%;
    width: 100%;
    padding: 0px 30px;
}

    .single-product:hover .product-content .row a .row:not(:first-child) {
        display: block;
    }

    .single-product:hover .product-content a {
        height: 100%;
        width: 100%;
        padding: 0px;
    }

.product-content span {
    font-family: 'svn-gilroy-medium',sans-serif;
}

.more span {
    font-family: 'svn-gilroy-medium-italic',sans-serif;
    font-size: 12px;
}
