@media only screen and (max-width: 450px) {
    .connect-left .row a img {
        margin-right: 7px !important;
    }

    .connect-left a {
        padding-left: 0px !important;
    }

    .scrollUp img:first-child {
        margin-left: 7px !important;
    }

    .scrollUp img {
        width: 30px !important;
        height: 30px !important;
    }

    .pl-sm-0 {
        padding-left: 0 !important;
    }

    .pl-sm-7-5 {
        padding-left: 7.5px;
    }

    .mobile {
        display: block !important;
    }

    .desktop {
        display: none !important;
    }
}

span, a {
    font-family: 'svn-gilroy-regular',sans-serif;
}

.top-menu ul li a {
    font-family: 'svn-gilroy-semibold',sans-serif;
}

.menu1-text span {
    font-family: 'svn-gilroy-bold',sans-serif;
}

.right-contact a {
    font-family: 'svn-gilroy-bold',sans-serif;
}

.lang-select .nice-select .current, .lang-select .nice-select .option {
    font-family: 'svn-gilroy-semibold',sans-serif !important;
}

.single-footer {
    padding-left: 0px;
}

body, button, input, select, optgroup, textarea {
    font-family: 'svn-gilroy-regular',sans-serif;
}

.cat-nav-head ul li a {
    font-family: 'svn-gilroy-bold',sans-serif;
}

.phone-contact a {
    font-family: 'svn-gilroy-bold',sans-serif !important;
}

.news-more {
    font-family: 'svn-gilroy-medium-italic',sans-serif !important;
    font-size: 12px;
    position: relative;
}

    .news-more img {
        position: absolute;
        bottom: 4px;
        padding-left: 5px;
        height: 11px;
        width: 11px;
    }

.title-news {
    font-family: 'svn-gilroy-medium',sans-serif !important;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

.connect-mobile {
    padding-top: 7px;
}

.lisence span {
    line-height: 18px;
}

.footer-top .row .lisence {
    line-height: 18px;
}

.connect {
    line-height: 20px;
}

.gray {
    color: black !important;
}

.title-news {
    text-align: left !important;
}
