.border-rate {
    height: 2px;
    border-radius: 1px;
    position: relative;
    bottom: 2px;
}

.blue {
    background: #005993;
}

.nav-link {
    display: block;
    width: 100%;
    height: 100%;
}


.otherx span {
    font-family: 'svn-gilroy-bold',sans-serif;
    font-size: 16px;
}

.other-service .otherx img {
    max-width: 50px;
}

.other-service .col-lg-6 {
    padding: 0;
}

.service-all .otherx a img {
    margin: auto;
}

.service-all .col-lg-6:nth-child(1) {
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.service-all .col-lg-6:nth-child(2) {
    border-bottom: 1px solid #eee;
}

.service-all .col-lg-6:nth-child(3) {
    border-right: 1px solid #eee;
}

.service-all {
    padding: 10px;
}

@media only screen and (max-width: 991px) {
    .service-all .col-lg-6:nth-child(1) {
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }

    .service-all .col-lg-6:nth-child(2) {
        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }

    .service-all .col-lg-6:nth-child(3) {
        border-bottom: 1px solid #eee;
    }

    .service-all .col-lg-6:nth-child(4) {
        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }
}

@media only screen and (min-width: 768px) {
    .footer-top {
        padding-bottom: 30px !important;
    }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 992px) and (max-width: 1130px) {
    .more-news {
        position: unset;
    }
}

@media only screen and (min-width: 1131px) {
    .more-news {
        position: absolute;
    }
}

.banking .nice-select .current {
    display: block;
    width: 100%;
    height: 100%;
    border-right: 1px solid #ccc;
    font-size: 18px !important;
}

.banking .nice-select .current {
    text-align: left;
    padding-left: 18px;
}

.banking .nice-select .option:first-child {
    display: none;
}

.banking .nice-select:after {
    right: 17px;
}

.banking .nice-select.open {
    background: #005993;
}

    .banking .nice-select.open .current {
        color: #005993;
        background: #fff;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

.banking .nice-select {
    padding-right: 40px;
    padding-left: 0px;
}

    .banking .nice-select.open:after {
        border-bottom: 2px solid #7ed3f7;
        border-right: 2px solid #7ed3f7;
    }

.level2-tbl {
    padding-left: 15px;
}

    .level2-tbl tr td {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: 0 !important;
    }

        .level2-tbl tr td a {
            display: block;
            width: 100%;
        }

.level1-option {
    position: relative;
    border-bottom: none !important;
}

    .level1-option .tool-right-arrow {
        right: 15px;
    }

    .level1-option .content {
        background: #fff !important;
    }

    .level1-option.active svg {
        right: 15px !important;
    }

    .level1-option:hover svg {
        right: 15px !important;
    }

.table-content tr td .content .table-content tr td:not(:last-child) {
    border-bottom: 1px solid #eee !important;
}

.level1-option:hover .tool-right-arrow {
    fill: #005993;
}

.table-content tr td {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #eee !important;
}

.content {
    background: #fff;
}

.scroll-table .row .col-12 label {
    max-height: 41px;
}

.tool-all li:last-child span {
    border: none;
}

.lvl1-tool:hover .right-small, .lvl2-title:hover .right-small {
    fill: #005973;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate( 90deg );
    -ms-transform: rotate(90deg);
    transform: rotate( 90deg );
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    right: 20px;
}

.lvl1-tool {
    display: flex;
    cursor: pointer;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 12px 0px 12px 30px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
}

    .lvl1-tool:hover {
        background: #73d3f7;
        color: #005993;
    }

.lvl2-tool li .lvl2-title:hover, .lvl2-tool li a:hover {
    background: #73d3f7;
    color: #005993;
}

.lvl2-title {
    display: flex;
    align-items: center;
    font-family: 'svn-gilroy-bold',sans-serif;
}

.lvl2-tool a {
    padding: 5px 10px;
    margin-left: 30px;
    display: flex;
    border-bottom: 1px solid #eee;
}

.right-small {
    position: absolute;
    right: 15px;
}

li > ul, li > ol {
    margin-left: 15px;
}

.other-img {
    max-height: 30px !important;
    margin: 10px;
}

.single-product .product-img a img {
    max-height: 70px;
    max-width: 50px;
}

.connect-mobile {
    padding-top: 7px;
}

.lisence {
    line-height: 18px;
}

    .lisence span {
        line-height: 18px;
    }

.more-news a, .blue-more {
    font-family: 'svn-gilroy-bold',sans-serif;
}
